---
import Base from "../../layouts/Base.astro";
import { blogPosts } from "../../data/blogData.js";
import BlogCard from "../../components/blog/BlogCard.astro";
import Breadcrumbs from "../../components/blog/Breadcrumbs.astro";
import WhatsAppButton from "../../components/WhatsAppButton.astro";
---

<Base title="Tratamientos" meta_title="Artículos legales | Legal Staff">
  <section class="px-6 py-20 max-w-7xl mx-auto">
    <Breadcrumbs
      items={[
        { label: "Inicio", href: "/" },
        { label: "Tratamientos", href: "/blog" },
      ]}
    />
    <WhatsAppButton />
    <h1
      class="text-center text-[#1A476A] text-3xl md:text-4xl font-extrabold uppercase tracking-[3px] mb-12"
    >
      Tratamientos
    </h1>

    <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">
      {blogPosts.slice(0, -3).map((post) => <BlogCard post={post} />)}
    </div>
  </section>
</Base>
