---
import Base from "../layouts/Base.astro";
import Breadcrumbs from "../components/blog/Breadcrumbs.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";
import EmployeeCard from "../components/nosotros/EmployeeCard.astro";
import { employees } from "../data/employeeData.js";
---

<Base title="Nosotros" meta_title="Nosotros | Innova dental studio">
    <section class="px-6 py-20 max-w-7xl mx-auto">
        <Breadcrumbs
            items={[
                { label: "Inicio", href: "/" },
                { label: "Nosotros", href: "/nosotros" },
            ]}
        />
        <WhatsAppButton />
        <h1
            class="text-center text-[#1A476A] text-3xl md:text-4xl font-extrabold uppercase tracking-[3px] mb-12"
        >
            Nuestro Equipo
        </h1>

        <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">
            {employees.map((employee) => <EmployeeCard employee={employee} />)}
        </div>
    </section>
</Base>
