---
import WhatsAppButton from "../WhatsAppButton.astro";
import EmployeeCard from "../nosotros/EmployeeCard.astro";
import { employees } from "../../data/employeeData.js";
---

<section
    class="px-6 py-10 max-w-6xl mx-auto scroll-mt-20 min-h-[calc(100vh-5rem)] flex flex-col justify-center"
    id="nosotros"
>
    <WhatsAppButton />
    <h1
        class="text-center text-[#1A476A] text-3xl md:text-4xl font-extrabold uppercase tracking-[3px] mb-12"
    >
        Nuestro Equipo
    </h1>

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        {employees.map((employee) => <EmployeeCard employee={employee} />)}
    </div>
</section>
