name: Deploy to GitHub Pages

on:
  # Desencadena el flujo de trabajo en cada push a la rama principal (main o master)
  push:
    branches:
      - main 

  # Permite ejecutar el flujo de trabajo manualmente
  workflow_dispatch:

# AÑADE ESTA SECCIÓN DE PERMISOS
permissions:
  contents: read # Permite leer el código
  pages: write   # Permite que la acción publique contenido en GitHub Pages
  id-token: write # NECESARIO para deploy-pages@v4

# Configura las propiedades de concurrencia para cancelar ejecuciones antiguas
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Build with Astro
        run: npm run build 
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist 

  deploy:
    # Despliega el artefacto de la construcción
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4